* {
    box-sizing: border-box;
}

/* GENERAL */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height    : 100%;
    box-sizing: border-box;
    overflow  : hidden;
}

img {
    display: block;
    height : auto;
}

body {
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    margin          : 0;
    padding         : 0;
    font-family     : "Arial", sans-serif;
    background-color: #151118;
    color           : #fff;
}

.hidden {
    display: none;
}

.overlay {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter : blur(3px);
    z-index         : 5;
}

.container {
    width    : 100%;
    max-width: 1400px;
    margin   : 0 auto;
    padding  : 0 20px;
}


.wrapper {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 100vh;

}


.main-wrapper {
    display    : flex;
    align-items: center;

}

.content-wrapper {
    width      : 100%;
    max-width  : 480px;
    margin-left: 50px;
}

.content-title {
    font-weight: 900;
    font-size  : 2rem;
}

.content-text {
    width      : fit-content;
    line-height: 1.4;
}


.content-btn {
    width           : 100%;
    max-width       : 200px;
    font-weight     : 600;
    font-size       : 18px;
    background-color: #2E3138;
    padding         : 10px;
    border          : none;
    border-radius   : 5px;
    color           : #fff;
    cursor          : pointer;
    transition      : 0.3s ease-in-out;
}

.content-btn:hover {
    background-color: #40434a;
}

/* MODAL */

.modal {
    background-color: #2A2733;
    position        : fixed;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    width           : 50%;
    padding         : 2rem;
    border-radius   : 10px;
    box-shadow      : 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index         : 10;
}

.modal-x-btn {
    position        : absolute;
    top             : 0;
    right           : 0;
    background-color: #fff;
    border          : none;
    font-size       : 20px;
    border-radius   : 0 0 0 5px;
    cursor          : pointer;
    transition      : 0.3s all;
}

.modal-x-btn:active {
    opacity: 0.6;
}

.modal-title {
    margin                 : 0;
    background-color       : rgb(255, 178, 62);
    background-image       : linear-gradient(200.67deg, rgb(255, 255, 255) 25%, rgb(255, 240, 102) 35%, rgb(255, 163, 26) 55.54%, rgb(255, 0, 115) 90%);
    background-size        : 100%;
    background-clip        : text;
    -webkit-text-fill-color: transparent;
    font-size              : 40px;
    text-align             : center;
}

.modal-text {
    font-size   : 20px;
    word-spacing: 0.3px;
}

.modal-line {
    border       : 1px dashed #fff;
    margin-bottom: 30px;
}


.modal-input {
    background-color: transparent;
    border          : 2px solid #fff;
    border-radius   : 5px;
    outline         : none;
    color           : #fff;
    font-size       : 22px;
    padding         : 5px;
}

.modal-input:focus {
    outline       : 3px solid #E60067;
    outline-offset: 3px;
}

/* Modal buy btn */
.modal-buy-btn {
    position      : relative;
    border        : none;
    background    : transparent;
    padding       : 0;
    cursor        : pointer;
    outline-offset: 4px;
    transition    : filter 250ms;
    user-select   : none;
    touch-action  : manipulation;
    margin-left   : 75px;
}

.shadow {
    position     : absolute;
    top          : 0;
    left         : 0;
    width        : 100%;
    height       : 100%;
    border-radius: 12px;
    background   : hsl(0deg 0% 0% / 0.25);
    will-change  : transform;
    transform    : translateY(2px);
    transition   : transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position     : absolute;
    top          : 0;
    left         : 0;
    width        : 100%;
    height       : 100%;
    border-radius: 5px;
    background   : linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.front {
    display      : block;
    position     : relative;
    padding      : 12px 27px;
    border-radius: 5px;
    font-size    : 1rem;
    color        : white;
    background   : hsl(345deg 80% 47%);
    will-change  : transform;
    transform    : translateY(-4px);
    transition   : transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.modal-buy-btn:hover {
    filter: brightness(110%);
}

.modal-buy-btn:hover .front {
    transform : translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.modal-buy-btn:active .front {
    transform : translateY(-2px);
    transition: transform 34ms;
}

.modal-buy-btn:hover .shadow {
    transform : translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.modal-buy-btn:active .shadow {
    transform : translateY(1px);
    transition: transform 34ms;
}

.modal-buy-btn:focus:not(:focus-visible) {
    outline: none;
}


/* Media Query */

@media screen and (max-width: 500px) {

    .main-wrapper {
        display       : flex;
        flex-direction: column;

    }

    .content-wrapper {

        margin-left: 0;

    }

    .modal-input {
        width: 100%;
    }

    .modal {
        width    : 90%;
        height   : auto;
        padding  : 1rem;
        top      : 50%;
        transform: translate(-50%, -50%);
    }

    .modal-title {
        font-size: 1.5rem;
    }

    .modal-text {
        font-size: 1rem;
    }

    .modal-input {
        font-size: 1rem;
    }

    .modal-buy-btn .front {
        padding  : 10px 20px;
        font-size: 0.875rem;
    }

    .modal-buy-btn {
        margin-top : 30px;
        width      : 100%;
        margin-left: 0;
    }

    .modal-x-btn {
        font-size: 15px;
    }
}